#sectorSeries {
  padding: 0 2em;
  height: 70vh;
}

#sectorSeries h2 {
  color: var(--orange-color);
  border-bottom: 1px solid var(--orange-color);
  width: 100%;
  padding-bottom: .6em;
  font-size: 2em;
}

#seriesSeleccionadas {
  padding: 2.5em 1em;
  display: flex;
  gap: 2em;
  overflow-x: auto;
  scroll-behavior: smooth;
}

#btnPrev {
  transform: rotate(180deg);
}

#btnPrev, #btnNext {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

#btnPrev:hover, #btnNext:hover {
  background-color: whitesmoke;
}

#contenedorBtnesCarrusel {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  position: relative;
}

#card-miSeleccion {
  color: whitesmoke;
}
