  <div id="card-busqueda" *ngFor="let serie of seriesAPintar" class="animate__animated animate__fadeInDown">
    <img *ngIf="serie.show.image; else sinImg" [src]="serie.show.image.medium" [alt]="serie.show.name">
    <div id="card-busqueda-textos">
      <h3>{{serie.show.name}}</h3>
      <h5 *ngIf="serie.show.premiered; else sinAnio">{{serie.show.premiered.substring(0, 4)}}</h5>
    </div>
    <div id="add"><img id="btnAdd" src="assets/add.svg" alt="add" (click)="agregarAMisSeries(serie)"></div>
  </div>

  <ng-template #sinImg>
    <img src="https://via.placeholder.com/57x80/CCC/FF0000/?text=X" alt="sin imagen">
  </ng-template>

  <ng-template #sinAnio>
    <h5> sin datos </h5>
  </ng-template>
