<div id="sectorBusqueda">
  <div id="buscador">
    <input id="inputBuscador" type="text" placeholder="Buscar serie" autocomplete="off" #inputBusqueda>
    <img id="lupa" src="assets/lupa.svg" alt="lupa" (click)="buscarSerie()">
  </div>

  <div id="cont-card-busqueda">
    <app-lista-series-buscadas [seriesAPintar]="series" *ngIf="series.length > 0"></app-lista-series-buscadas>
    <div id="start" *ngIf="series.length == 0">
      <img id="arrowUp" src="assets/arrow_up.png" alt="">
      <p id="startText">Busca algo para ver!</p>
    </div>
  </div>
</div>
