#sectorBusqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
  padding-bottom: 2em;
  border-radius: 10px;
  height: 80vh;
  background: linear-gradient(180deg, rgba(51,71,86,1) 0%, rgba(0,0,0,0) 100%);
  /* background-color: #334756d2; */
}

#buscador {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

#inputBuscador {
  margin: 0;
  font-size: 1.2em;
  width: 100%;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  background-color: transparent;
  color: var(--darkest-color);
  border: none;
  border-bottom: 1px solid var(--darkest-color);
  outline: none;
}

#inputBuscador::placeholder {
  color: var(--darkest-color);
}

#inputBuscador:focus {
  border-bottom: 1px solid var(--orange-color);
  color: var(--orange-color);
  background-color: var(--darkest-color);
}

#lupa {
  width: 44px;
  border-radius: 0 5px 5px 0;
  padding: 3px;
  cursor: pointer;
}

#lupa:hover {
  background-color: var(--darkest-color);
}

#cont-card-busqueda {
  width: 90%;
  overflow-y: scroll;
}

#start {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#startText {
  text-align: center;
  color: #665;
  font-size: 2em;
}

#arrowUp {
  margin: auto;
  width: 10%;
  animation-name: desplazamiento;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes desplazamiento {
  from{transform: translateY(0px);
  opacity: 0;}
  to{transform: translateY(-30px);
  opacity: 1;}
}


