<div id="loader" *ngIf="isLoading">
  <img src="../assets/rollo_serie.svg" alt="" id="loadingRollo">
</div>
<main id="contenedor-home">
  <header>
    <img id="logo" src="assets/sapp_logo.svg" alt="logo s-app">
    <div id="usuario-logeado">
      <img id="avatar" src="assets/avatar.svg" alt="avatar">
      <h4 id="nombre-usuario">{{usuario.usuario}}</h4>
      <img id="btnLogout" src="assets/logout.svg" alt="logout logo" (click)="logOut()">
    </div>
  </header>

  <main id="contenedor-usuario">

    <app-buscador></app-buscador>
    <app-mis-series ></app-mis-series>

    <img src="../assets/rollo_serie.svg" alt="" id="rollo">

  </main>

  <app-modal *ngIf="switchModal"></app-modal>

</main>

