#cards_seleccionadas {
    width: max-content;
    position: relative;
    /* width: 210px; */
    height: 345px;
    transition: all 300ms;
    z-index: 11;
}

#cards_seleccionadas:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 18px #ebebeb8d);
}

#cards_seleccionadas:hover #imgEfecto,
#cards_seleccionadas:hover #pieImagen {
    outline: 1px solid #9ba7b0;
}

#cards_seleccionadas:hover #pieImagen {
    background-color: #9ba7b0;
}

#cards_seleccionadas:hover #txtPie {
    color: black;
}

#btnPlataforma {
    position: absolute;
    background-color: var(--darkest-color);
    border: 1px solid whitesmoke;
    color: whitesmoke;
    width: max-content;
    padding: .5em;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

#pieImagen{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #334756;
    width: 100%;
    padding: 5px;
    border-radius: 0 0 25px 0;
}

#mas {
    text-align: center;
    border-radius: 50%;
    background-color: var(--orange-color);
    border: 2px solid whitesmoke;
    width: 40px;
    height: 40px;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}

#txtPie {
    font-size: 2em;
    font-weight: 700;
    color: var(--orange-color);
    margin-left: 5px;
}

